body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background-color: lightcoral;
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

a {
    color: darkslateblue;
}

.listhead {
    font-weight: bold;
    font-style: normal;
}

ul {
    font-weight: lighter;
    font-style: oblique;
}

.unital {
    font-style: normal;
}

.justify {
    text-align: justify;
}

.homebg {
    background-image: url('../images/back1.jpg');
    background-position: bottom right;
    background-repeat: repeat;
    background-size: 1500px;
}